.custom-toolbar {
  background-color: #f8f6f6;
  /*box-sizing: border-box;*/
}

span {
  margin: 0.5em;
}

.main-icon {
  margin-left: 1em;
  margin-top: .9em;
  margin-right: 1em;
}

a {
  font-size: large;
}

.custom-toolbar:hover {
  /*padding: 0 5px;*/
  /*border-bottom: 2px solid black;*/
  box-shadow: 0 0 0 2px #282626;
}

/*.nav-link:hover {*/
/*  text-decoration: underline;*/
/*  text-decoration-thickness: 2px;*/
/*}*/
.menu-item {
  border: 1px solid transparent;
}

.menu-item:hover {
  /*background-color: lightgray;*/
  border-bottom: 1px solid #3d3939;
  /*box-shadow: 0 0 0 2px #282626;*/
}

.account-menu-item {

}

.spacer {
  flex: 1 1 auto;
}

.mat-button {
  font-size: 20px;
  /*width: unset;*/
  display: flex;
  flex-direction: column;
  padding: 0;
  /*height: 60px;*/
  /*width: 60px;*/
}

.accountSpan {
  display: flex;
  flex-direction: column;
  width: unset;
}

.lang-span {
  display: flex;
  flex-direction: column;
  width: unset;
}

.lang-btn {
  border: medium dashed;
  padding: 0 10px;
  border-radius: 10px;
  color: #252552;
  color: #561015;
  line-height: 30px;
  min-width: unset;
}

::ng-deep .mat-select-content {
  width: 10px;
  /*background-color: red;*/
  /*font-size: 2px;*/
}

mat-form-field {
  width: 100%;
}

.text-sm {
  font-size: .8em;
  border-right: 0;
  padding-right: 0;
  margin-right: 0;
}

::ng-deep mat-form-field {
  /*border-right: 0;*/
  /*padding-right: 0;*/
  /*margin-right: 0;*/

  /*width: 4em !important;*/
}

::ng-deep mat-option {
  /*border-right: 0;*/
  /*padding-right: 0;*/
  /*margin-right: 0;*/

  /*width: 2em !important;*/
}

/*::ng-deep.mat-form-field {*/
/*  width: auto !important;*/
/*}*/

/*::ng-deep.mat-select-value {*/
/*  max-width: 100%;*/
/*  width: auto;*/
/*}*/

.mat-icon {
  border-right: 0;
  padding-right: 0;
  margin-right: 0;

  /*vertical-align: middle;*/
}

::ng-deep .mat-icon {
  border-right: 0;
  padding-right: 0;
  margin-right: 0;

  /*font-size: 48px;*/
  /*width: 20px;*/
  /*height: 20px;*/
}

.matoption {
  border-right: 0;
  padding-right: 0;
  margin-right: 0;

  font-size: 180px;
  /*width: fit-content;*/
}

/*.mat-icon-button {*/
/*  border: 2px black;*/
/*}*/

.thisbutton {
  font-size: 1.1em;
}

.moomba {
  padding: 0;
  margin-top: 4px;
  border: 2px solid #282626 !important;
}

.imgg {
  border: 2px solid #000;
  border-radius: 32px;
  height: 37px;
}

/*.mat-menu-item {*/
/*}*/

.inter {
  display: flex;
  justify-content: center;
  padding-left: 0.09em;
  /*border-bottom: 1.9em;*/
}

.local-lang-picker {
  margin-right: 1em;
}


:root {
  --border-size: 2px;
  --box-width: 36em;
  --box-height: 8em;
  --dash-size: 1em;
}

.box,
.box::after {
  height: var(--box-height);
  width: var(--box-width);
  border: solid;
  margin: 0;
}

.box {
  border-image: repeating-linear-gradient(to right, red 0, red var(--dash-size), transparent var(--dash-size), transparent calc(var(--dash-size) * 2), blue calc(var(--dash-size) * 2), blue calc(var(--dash-size) * 3), transparent calc(var(--dash-size) * 3), transparent calc(var(--dash-size) * 4));
  border-image-slice: 16;
  border-image-width: var(--border-size) 0;
}

.box::after {
  border-image: repeating-linear-gradient(to bottom, blue 0, blue var(--dash-size), transparent var(--dash-size), transparent calc(var(--dash-size) * 2), red calc(var(--dash-size) * 2), red calc(var(--dash-size) * 3), transparent calc(var(--dash-size) * 3), transparent calc(var(--dash-size) * 4));
  border-image-slice: 16;
  border-image-width: 0 var(--border-size);
}
