<div class="search" [ngStyle]="{'margin-top': getIt()}">
  <ng-container *ngIf="!searched">
    <button mat-icon-button class="random-btn" (click)="getRandomWord()">
      <img src="../assets/img/icons/random.svg" alt="Random" height="40" width="40">
    </button>
  </ng-container>
  <ng-container *ngIf="searched">
    <button mat-icon-button class="random-btn" (click)="showEngines()">
      <img src="../assets/img/icons/book-engine.svg" alt="Random" height="50" width="50">
    </button>
  </ng-container>
  <form class="form-input-autocomplete" (ngSubmit)="search()">
    <mat-form-field [style.width.px]=800 color="accent">
      <input #input [(ngModel)]="searchText" [formControl]="formControl"
             [matAutocomplete]="auto"
             [appFocus]=true
             class="input-autocomplete"
             matInput type="text">
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)='optionSelectedHandler($event.option.value)'>
        <mat-option *ngFor="let option of filteredOptions | async  | slice : 0 : 5" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <button mat-icon-button class="create-btn" (click)="openCreationDialog()">
    <img src="../assets/img/icons/create.svg" alt="Create" height="50" width="50">
  </button>

</div>
<!--(optionSelected)='optionSelectedHandler($event.option.value)'-->

<!--<mat-expansion-panel [disabled]="true"-->
<!--                     #mep="matExpansionPanel">-->
<!--  <mat-expansion-panel-header>-->
<!--    <button (click)="mep.expanded = !mep.expanded">Toggle</button>-->
<!--  </mat-expansion-panel-header>-->

<!--  <p>Text</p>-->

<!--</mat-expansion-panel>-->

<ng-container *ngIf="searched">
  <div class="engines-div">
    <mat-expansion-panel hideToggle class="expansion-panel" [expanded]="this.engines">
      <!--      <mat-expansion-panel-header class="panel-header center-aligned-header">-->
      <!--        engines-->
      <!--      </mat-expansion-panel-header>-->
      <div class="expansion-panel-content">
        <div class="engines">
          <a target="_blank" [href]="getReversoLink()" class="button"><img src="../../assets/img/services/reverso.svg"
                                                                           alt="Reverso"
                                                                           height="60" width="60"
                                                                           class="small-icon"></a>

          <a target="_blank" [href]="getUrbanLink()" class="button"><img src="../../assets/img/services/urban.svg"
                                                                         alt="Urban"
                                                                         height="80" width="80"></a>

          <a target="_blank" [href]="getMerriamWebsterLink()"><img src="../../assets/img/services/merriam-webster.svg"
                                                                   alt="Merriam-Webster"
                                                                   height="70" width="70" style="padding: 5px"></a>

          <a target="_blank" [href]="getCollinsLink()"><img src="../../assets/img/services/collins.svg" alt="Collins"
                                                            height="60" width="60" class="small-icon"></a>

          <a target="_blank" [href]="getOxfordLink()"><img src="../../assets/img/services/oxford-online.svg"
                                                           alt="Oxford"
                                                           height="60" width="60" class="small-icon"></a>

          <a target="_blank" [href]="getMacmillianLink()"><img src="../../assets/img/services/macmillian.svg"
                                                               alt="Macmillian"
                                                               height="60" width="60" class="small-icon"></a>

          <a target="_blank" [href]="getCambridgeLink()"><img src="../../assets/img/services/cambridge.svg"
                                                              alt="Cambridge"
                                                              height="60" width="60" class="small-icon"></a>
        </div>

      </div>
    </mat-expansion-panel>
  </div>

  <div *ngFor="let lang of user.fluentLangs">
    <span class="accountSpan">
      <button class="moomba" mat-icon-button *ngIf="true" (click)="showTranslation(lang)">
              <div class="inter">
                <img src="../assets/img/lang/{{lang.toLowerCase()}}.png" alt="Logo" height="37"
                     width="37">
              </div>
      </button>
    </span>
  </div>

  <button mat-icon-button class="audio-btn" (click)="getAudio()" *ngIf="!audioAvailable">
    <img src="../assets/img/icons/speaker.svg" alt="speaker" height="40" width="40">
  </button>
  <div *ngIf="audioAvailable">
    <audio controls>
      <source [src]="audioLink"/>
    </audio>
  </div>


  {{this.cardSearchLabel}}
  <div *ngFor="let card of this.foundCards">
    <button mat-raised-button (click)="openDialogLocal(card, 'edit')">
      {{card.entry}}
    </button>

  </div>
  <div *ngFor="let entry of fdEntries">
    {{entry.phonetic}}
    <div *ngFor="let meaning of entry.meanings">
      {{meaning.partOfSpeech}}
      <div *ngFor="let definition of meaning.definitions">
        {{definition.definition}}
      </div>
    </div>
  </div>

  <div *ngIf="translated">
    TRANSLATED
    <div *ngFor="let card of translationCards">
      {{card.provider}}
      <div *ngFor="let definition of card.definitions">
        {{definition.pos}}
        {{definition.transcription}}
        <div *ngFor="let translation of definition.translations">
          {{translation.frequency}}
          {{translation.pos}}
          {{translation.text}}
        </div>
      </div>
    </div>
  </div>
</ng-container>
<router-outlet></router-outlet>
