<!DOCTYPE html>
<head>
    <title>Reset your password email template</title>
</head>
<html lang="en">
<body>

<header th:replace="~{_fragments/header}"></header>

<div class="email-container">
    <div class="email-content">
        <p>Hello,</p>
        <p>We received a request to reset your password. Click the button below to reset it:</p>
        <p class="button-p">
            <a th:href="${url}" class="button">
                Reset Password
            </a>
        </p>
        <p>
            If the button above doesn't work, copy and paste the following link into your browser:
        </p>
        <p>
            <a th:href="${url}" style="">
                <span th:text="${url}"></span>
            </a>
        </p>
        <br>
        <p>If you didn't request a password reset, you can safely ignore this email.</p>
    </div>
</div>

<th:block th:replace="~{_fragments/footer}"></th:block>
</body>
</html>
